[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-socketio = "*"
gunicorn = "*"
eventlet = "*"
flask = "*"

[dev-packages]
waitress = "*"

[requires]
python_version = "3.7"
